<div class="property-category-container">
  <div class="d-flex align-items-center justify-content-between w-100">

    <div class="taxes-container card">
      <div class="card-body d-flex align-items-center" style="height: 45px;">
        <label for="totalBeforeTaxes" class="mr-2">Display Before Taxes</label>
        <label class="switch">
          <input type="checkbox" id="totalBeforeTaxes" class="toggle-switch" />
          <span class="slider"></span>
        </label>
      </div>
    </div>

    <div class="browse-property">
      <button class="btn btn-border text-dark rounded-circle mr-3" (click)="prev()">
        <i class="fa fa-arrow-left"></i>
      </button>

      <div class="house-icons">
        <div class="property-icon" *ngFor="let icon of displayedIcons">
          <img [src]="icon.imgUrl" [alt]="icon.name" class="property-img">
          <div class="property-name">{{ icon.name }}</div>
        </div>
      </div>


      <button class="btn btn-border text-dark rounded-circle mr-3" (click)="next()">
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>


    <button class="btn btn-border filter_btn text-dark d-flex align-items-center">
      <i class="fa fa-filter mr-2"></i> Filters
    </button>

  </div>


</div>