<div class="property-category-container">
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="taxes-container card">
        <div class="card-body d-flex align-items-center">
          <label for="totalBeforeTaxes" class="mr-2">Display Total Before Taxes</label>
          <label class="switch">
            <input type="checkbox" id="totalBeforeTaxes" class="toggle-switch" />
            <span class="slider"></span>
          </label>
        </div>
      </div>
  
      <button class="btn btn-border text-dark rounded-circle mr-3">
        <i class="fa fa-arrow-left"></i>
      </button>
  
      <div class="house-icons mr-3">
        <div class="property-icon">
          <img src="https://a0.muscache.com/pictures/3fb523a0-b622-4368-8142-b5e03df7549b.jpg" alt="Amazing Pools" class="property-img">
          <div class="property-name">Amazing Pools</div>
        </div>
        
        <div class="property-icon">
          <img src="https://a0.muscache.com/im/pictures/mediaverse/category_icon/original/3e5243c8-4d15-4c6b-97e3-7ba2bb7bb880.png" alt="Icons" class="property-img">
          <div class="property-name">Icons</div>
        </div>
        
        <div class="property-icon">
          <img src="https://a0.muscache.com/pictures/aaa02c2d-9f0d-4c41-878a-68c12ec6c6bd.jpg" alt="Farms" class="property-img">
          <div class="property-name">Farms</div>
        </div>
        
        <div class="property-icon">
          <img src="https://a0.muscache.com/pictures/732edad8-3ae0-49a8-a451-29a8010dcc0c.jpg" alt="Cabins" class="property-img">
          <div class="property-name">Cabins</div>
        </div>
        
        <div class="property-icon">
          <img src="https://a0.muscache.com/pictures/c0a24c04-ce1f-490c-833f-987613930eca.jpg" alt="National Parks" class="property-img">
          <div class="property-name">National Parks</div>
        </div>
        
      </div>
      
  
      <button class="btn btn-border text-dark rounded-circle mr-3">
        <i class="fa fa-arrow-left"></i>
      </button>
  
      <button class="btn btn-border text-dark d-flex align-items-center">
        <i class="fa fa-filter mr-2"></i> Filters
      </button>
    </div>
  </div>
