<div class="modal fade show d-block modal-overlay" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex border-bottom mb-3">
          <div class="flex-grow-1 text-center py-2 cursor-pointer"
            [ngClass]="{ 'fw-bold border-bottom border-dark': activeSection === 'languageRegion' }"
            (click)="setActiveSection('languageRegion')">
            Language and Region
          </div>
          <div class="flex-grow-1 text-center py-2 cursor-pointer"
            [ngClass]="{ 'fw-bold border-bottom border-dark': activeSection === 'currency' }"
            (click)="setActiveSection('currency')">
            Currency
          </div>
        </div>

        <div *ngIf="activeSection === 'languageRegion'">
          <h6>Select Language and Region</h6>
          <p>Provide form or options for selecting language and region here.</p>
        </div>
        <div *ngIf="activeSection === 'currency'">
          <h6>Select Currency</h6>
          <p>Provide form or options for selecting currency here.</p>
        </div>
      </div>
      <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
    </div>
  </div>
</div>