
header {
    position: relative;
}


.d-flex.justify-content-center {
    display: flex;
    justify-content: center;
    gap: 10px;
}



button.ms-auto {
    margin-left: auto;
}

.capsule-item {
    display: inline-flex;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    align-items: center;
}

.capsule-item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 30px;
}

.capsule-item.selected {
    background-color: #dcdcdc;
}

.capsule-item:active,
.capsule-item:focus {
    background-color: #e0e0e0;
}

/* Styling for custom shadow effect */
.custom-shadow {
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar-text-subH {
    font-weight: 400;
    font-size: 0.875rem;
    margin: 0;
}

.search-bar-text-H {
    font-size: small;
    margin: 0;
}

.border-dark {
    --bs-border-opacity: 1;
    border-color: rgb(215 214 214) !important;
}

button.btn-danger {
    padding: 0.5rem;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
}
.navbar-nav .nav-item .nav-link {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #f0f0f0;
  
    border-radius: 20px;
    cursor: pointer;
}

.usericon{

    padding: 0.5rem 1rem;
}

/* styles.css */
.navbar-brand img {
    height: 60px;
    width: auto;
}


.user-card ul {
    padding: 0;
    margin: 0;
}.user-card ul li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333;
    font-size: 0.875rem;
}

.user-card ul li a:hover {
    background-color: #f0f0f0;
    border-radius: 20px;
    cursor: pointer;

}.user-card hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 8px 0;
}.user-card.show {
    display: block;
}

.user-card {
    position: absolute;
    right: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
    z-index: 9999;
}

@media (min-width: 768px) {
    .user-card {
        right: 250px;
    }
}

@media (max-width: 1767px) {
    .user-card {
        right: 20px;
    }
}


